* {
	margin: 0;
	padding: 0;
}

body{
	background: #0c0b0d;
	color: #bbb;
	font-family: monospace;
	font-weight: 600;
}

#main-box{
	width: 100%;
        height: 50vh;
	display: flex;
	justify-content:center;
	align-items: center;
	background: rgba(84, 29, 130, .15);
}
#main-background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("../assets/images/theme.png");
	background-size: cover;
	background-attachment: fixed;
	opacity: .3;
}
#main-text-box{
	color: #ddd;
	grid-column: 2/4;
	text-align: center;
	display: flex;
	justify-content: center;	
	align-items: center;
	flex-direction: column;
	border: 2px solid #666;
	padding: 2vh 8vw;
	border-radius: 2px;
}
#main-title{
	font-weight: 900;
	font-size: calc(30px + 1vw);
}
#main-title a{
	text-decoration: none;
	color: #ddd;
}
#main-title a:hover{
	transition: .5s;
	text-shadow: 3px 4px 4px #222;
	color: #e5d81d;
}
#main-text{
	font-size: calc(10px + 1vw);
}

#projects-box {
	background: #efefef;
	padding: 80px 10px;
	color: #2a2a2a;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	flex-wrap: wrap;
}
.card{
	width: 20vw;
	min-height: 25vh;
	max-height: 40vh;
	padding: 10px;
	margin: 1em 0;
	color: #eee;
	border-radius: 5px;
	box-shadow: 3px 4px 4px #9f9f9f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a.card{
	background: #541d82;
	color: #ddd;
	text-decoration: none;
	transition: .4s;
}
a.card:hover{
	background: #e5d81d;
	color: #222;	
}
a.card:active{
	box-shadow: 4px 5px 5px #8e8e8e;
}
.card-title{
	font-weight: 900;
	font-size: calc(10px + 1vw);
	text-align: center;
	text-transform: uppercase;
}
.card-text{
	text-align: center;
	max-width: 70%;
	font-size: calc(5px + 1vw);
}
#projects-title{
	width: 100%;
	text-align: center;
	padding: 2px;
	font-size: calc(30px + 1vw);
	font-weight: bolder;
	text-transform: uppercase;
}

#skills-box{
	background: #0b0a0d;
	padding: 80px 10px;
	color: #eee;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
#skills-title{
	width: 100%;
	text-align: center;
	padding: 2px;
	font-size: calc(30px + 1vw);
	font-weight: bolder;
	overflow-wrap: break-word;
	text-transform: uppercase;
}
.card-white{
	background: #eee;
	color: #222;
	box-shadow: 3px 4px 4px #222;
}

#personal-data{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#about{
	background: #efefef;
	padding: 50px 10px;
	color: #2a2a2a;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;	
}
#dev-title{
	font-size: calc(8px + 2vw);
	text-align: center;
}
#dev-subtitle{
	text-align: center;
	font-size: calc(8px + 1vw);
}

#dev-picture{
	width: calc(20px + 20vw);
	height: calc(20px + 20vw);
	margin: 5px 0;
	border-radius: 50%;
	box-shadow: 3px 4px 4px #ccc;
	background-image: url('../assets/images/dev.jpg');
	background-size: cover;
}

#contact{
	background: #2d2c2f;
	padding: 50px 10px;
	color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}
#social-media-list li{
	display: inline;
}
#social-media-list a{
	text-decoration: none;
	color: white;
	font-size: calc(10px + 2vw);
}

#footer{
	width: 100%;
	min-height: 10vh;
	background: #541d82;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(10px + 1vw);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
